
<div class="panel panel-default">
    <div class="panel-heading"><h6>Pictures</h6></div>
    <div class="panel-body">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">

            <!-- Slider Content (Wrapper for slides )-->
            <div id="homeCarouselImages" class="carousel-inner" style="border: 1px solid black; background-color: gray">
                <div class="item active">
                    <a class="homeCarouselImage" rel="group1" href="/Content/images/Home/photo 1.png">
                        <img src="/Content/images/Home/photo 1.png" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <!-- Caption -->
                    </div>
                </div>
                <div class="item">
                    <a class="homeCarouselImage" rel="group1" href="/Content/images/Home/photo 1_zoom.png">
                        <img src="/Content/images/Home/photo 1_zoom.png" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <!-- Caption -->
                    </div>
                </div>
                <div class="item">
                    <a class="homeCarouselImage" rel="group1" href="/Content/images/Home/photo 2.png">
                        <img src="/Content/images/Home/photo 2.png" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <!-- Caption -->
                    </div>
                </div>
                <div class="item">
                    <a class="homeCarouselImage" rel="group1" href="/Content/images/Home/photo 2_zoom.png">
                        <img src="/Content/images/Home/photo 2_zoom.png" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <!-- Caption -->
                    </div>
                </div>
                <div class="item">
                    <a class="homeCarouselImage" rel="group1" href="/Content/images/Home/photo 3.png">
                        <img src="/Content/images/Home/photo 3.png" alt="" />
                    </a>
                    <div class="carousel-caption">
                        <!-- Caption -->
                    </div>
                </div>
            </div>


            <!-- Controls -->
            <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#homeCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" style="left: 0;"></span>
            </a>
        </div>
    </div>
</div>