@{
    ViewBag.Title = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">About</div>
    <div class="panel-body">
        <p>Use this area to provide additional information.</p>
    </div>
</div>
