@{
    ViewBag.Title = "Contact";
}

<!--
<h2>@ViewBag.Title.</h2>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
-->
<div class="panel panel-default">
    <div class="panel-heading">Contact Information</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <strong>Stacey:</strong>
            </div>
            <div class="col-md-12">
                <a class="indent" href="mailto:Stacey@ToothCrystals.com">Stacey@ToothCrystals.com</a>
            </div>
        </div>
        <br />
        <div class="row">

            <div class="col-md-12">
                <strong>Shane (Website):</strong>
            </div>
            <div class="col-md-12">
                <a class="indent" href=" mailto:shane@toothcrystals.com">Shane@ToothCrystals.com</a>
            </div>
        </div>
    </div>
</div>
